.logo {
    background-color: black;
    position: fixed;
    width: auto;
    height: 123px;
    padding-top: 10px;
    padding-left: 10px;
    top: 0px;
    left: 0px;
    gap: 8px;

    @media (max-width: 992px) {
        width: 100%;
    }
}

.title {
    font-family: 'Passion One';
    font-size: 32px;
    line-height: 35.23px;
    color: #F86600;
}

.text {
    font-family: 'Helvetica';
    font-size: 16px;
    line-height: 24px;
    color: white;
}